<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<link th:href="@{/js/common/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/common/base.css}" rel="stylesheet"/>
	<script  th:src="@{/js/common/jquery/jquery1.8.3.min.js}"></script>
	<script  th:src="@{/js/common/layer/layer.js}"></script>
	<script  th:src="@{/js/common/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	<script  th:src="@{/js/common/MD5.js}"></script>
	<script  th:src="@{/js/common/supersized.3.2.7.min.js}"></script>
	<script  th:src="@{/js/common/supersized-init.js}"></script>
	<script  th:src="@{/js/shiro.demo.js}"></script>
	
	<script th:inline="javascript">
        /*<![CDATA[*/
        var _ctxPath = /*[[@{/}]]*/;
        /*]]>*/
    </script>
</head>
</html>




